@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Delicious+Handrawn&family=Lobster&family=Merriweather:ital,wght@1,900&family=Montserrat:wght@500;800&family=Source+Code+Pro:ital,wght@1,500&family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
h1{
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-style: normal;
    font-size: 7ch;
    text-transform: uppercase;
}
p{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size:3ch;
    color: white;
}
h2{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size:4ch;
    color: white;
    border-bottom: 1px solid rgb(184, 136, 5);
    width: fit-content;
}
.Footerblock{
    text-decoration: none;
    margin: 50px;
    font-size: large;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.Header{
    text-align: center;
    background-image: url(https://assets.turbologo.ru/blog/ru/2020/07/18162137/large_56013b0fc462a109786372.jpg);
    background-repeat: no-repeat;
    background-position:  center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -moz-background-size: cover;
    height: 500px;
}
.Welcome{
    color: rgb(255, 255, 255);
    padding: 44px;
}

li{
    font-family: 'Alegreya Sans', sans-serif;
    font-style: normal;
    font-size: 3ch;
    color: white;
}
.Link {
    outline: none;
    text-decoration: none;
  }
  .Navig {
    display: flex;
    list-style-type: none;
    justify-content: center;
    border: solid 2px rgb(255, 255, 255);
    align-items: center;
  }
  
  .Navig li a {
    text-decoration: none;
    margin: 50px;
    font-size: large;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }
  .Background{
    background-color: black;
  }
  a:link{
    color: rgb(255, 255, 255);
  }
  a:visited {
    color: #6d5f5f;
  }
  a:hover {
    color: rgb(255, 255, 255);
    border-bottom: 1px solid;
  }
  a:active {
    color: #6d5f5f;
    border-bottom: 1px solid;
  }
  .Selected{
    border-bottom: 1px solid;
  }
  .left {
    float: left;
    padding: 50px 0px 50px 0px;
 }
 .Imgleft {
    float: left;
    width: 25%;
    height: 603px;
    padding-left: 50px;
}
.Imgright{
    float: right;
    width: 400px;
    padding-left: 50px;
    height: 300px;
}
.Logo{
    text-decoration: none;
    margin: 50px;
    font-size: 7ch;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-align: center;
}
h3{
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-size:3ch;
    color: white;
    border-bottom: 1px solid rgb(184, 136, 5);
    width: fit-content;
}
.correctimg{
    display: flex;
    align-items: center;
    flex-wrap: wrap;}

.psmaller{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-size:3ch;
    color: white;
}
h4{
    font-family: 'Delicious Handrawn', cursive;
    font-style: normal;
    font-size:3ch;
    color: white;
    border-bottom: 1px solid rgb(184, 136, 5);
    width: fit-content;
}
.Kontak{
    color:rgb(184, 136, 5) ;
    font-family: 'Cormorant Garamond', serif;
    font-style: normal;
    font-size: 3ch;
    text-transform: uppercase;
}
.Gallery{
    display:flex;
    justify-content: center;
}